._container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4d6;
    user-select: none;
}

._form{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 480px;
    max-width: 1024px;
    width: 100%;
    height: 720px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

._form ._main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px
}

._form ._main input{
    display: flex;
    outline: none;
    border: 0;
    border-bottom: 1px solid;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}

._form ._main h1{
    text-align: center;
    font-size: 1.5rem;
    color: var(--text_color);
}

._form ._additional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

._form ._additional h1{
    font-family: 'jura regular', sans-serif;
    font-size: 2rem;
    color: var(--text_color);
}

._form ._additional img{
    width: 150px;
}

._row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

._btn{
    width: 100%;
    margin-bottom: 10px;
}