<section class="_container">

  <section class="_form">
    <section class="_additional">
      <h1>Для роста нужен прогресс</h1>
      <img src="../../assets/svg/114-startup-1.svg">
    </section>

    <section class="_main">

      <div class="_row">
        <h1>Авторизация</h1>
      </div>

      <div class="_row">
        <input type="text" spellcheck="false" [(ngModel)]="username" autocomplete="off" placeholder="Введите логин"/>
      </div>
  
      <div class="_row">
        <input type="password" spellcheck="false" [(ngModel)]="password" autocomplete="off" placeholder="Введите пароль"/>
      </div>
  
      <div class="_row">
          <button type="button" class="_btn btn btn-info" (click)="signIn()">Войти</button>
      </div>
      
    </section>

  </section>

</section>