<section class="_container">
    <h1>Добавление новой группы пользователей</h1>

    <div class="mb-15">
        <button class="btn btn-default mr-5" (click)="cancel()">Отмена</button>
        <button class="btn btn-success" (click)="add()">Сохранить</button>
    </div>

    <div class="_form">
        <div class="_row mb-10">
            <label for="name" class="mb-2">Название группы</label>
            <input id="name" type="text" class="input" [(ngModel)]="userGroupBlank.name" required>
        </div>
    </div>
</section>
