._container{
    padding-left: 5px;
    padding-right: 5px;

    ._form{
        width: 25%;
    
        ._row{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}