<section class="_staff">
  <div class="_header">
      <button class="_btn btn btn-info" (click)="addEmployee()">Добавить сотрудника</button>
      <div class="_search">
          <input type="text" placeholder="Поиск">
          <button class="btn btn-success" (click)="search()">Поиск</button>
        </div>
  </div>

  <table>

      <thead>
        <tr>
          <th class="ta-center">ФИО</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of employees" (click)="editEmployee(employee)">
          <td>{{employee.lastName}} {{employee.firstName}} {{employee.patronymic}}</td>
        </tr>
      </tbody>

    </table>

</section>
