._staff{
    padding-left: 5px;
    padding-right: 5px;

    ._header{
        display: flex;
        padding-bottom: 5px;

        ._search{
            display: flex;
            width: 20%;
    
            input{
                width: 100%;
                outline: none;
                padding: 5px;
            }
        }
    }

    ._btn{
        margin-right: 5px;
    }

    table{
        width: 100%;
        border-collapse: collapse;

        thead{
            tr{
                th{
                    padding: 10px;
                }
            }
        }

        tbody{
            tr{
                &:nth-child(odd){
                    background-color: #efefef;
                }
        
                &:nth-child(even){
                    background-color: #f7f7f7;
                }

                td{
                    padding: 10px;
                }
            }

            tr{
                &:hover{
                    background-color: var(--selected-info);
                    cursor: pointer;
                }
            }
        }
    }
}