@mixin transition($duration) {
    transition: $duration;
}

._menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90d4d6;
    padding: 10px;
    font-family: 'roboto regular', sans-serif;
    color: #276b86;
    user-select: none;
    margin-bottom: 10px;
    border-bottom: 2px solid;

    ._logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100px;
        font-size: 1.2rem;
    }

    ._content{
        display: flex;
        justify-content: center;
        align-items: center;

        ._menu-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90px;
            cursor: pointer;
    
            @include transition(.3s);
    
            &:hover {
                color: #002c6f;
            }
    
            ._title{
                text-align: center;
                margin-top: 5px;
                font-size: .8rem;
            }
        }

        .active-item{
            color: #ffffff;

            &:hover {
                color: #ffffff;
            }
        }
    }

    ._profile{
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
}