<section class="_menu">
    <div class="_logo"> 
        <span>Прогресс</span>
    </div>
    <div class="_content" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
        <div class="_menu-item" *ngFor="let menuItem of menu.menuItems" cdkDrag (click)="selectedMenuItem(menuItem)" [ngClass]="menuItem.cssClass">
                <i [ngClass]="menuItem.icon"></i>
                <span class="_title">{{menuItem.title}}</span>
        </div>
    </div>
    <div class="_profile">
        <img src="../../assets/svg/users/businessman.svg">
    </div>
</section>
