<section class="_users-groups">
    <div class="_header">
        <button class="_btn btn btn-info" (click)="addUserGroup()">Добавить группу</button>
        <div class="_search">
            <input type="text" placeholder="Поиск">
            <button class="btn btn-success" (click)="search()">Поиск</button>
          </div>
    </div>
  
    <table *ngIf="usersGroups.length > 0">
  
      <thead>
        <tr>
          <th class="ta-center">Группа</th>
          <th class="ta-center">Численность</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let userGroup of usersGroups" (click)="editUserGroup(userGroup)">
          <td>{{userGroup.name}}</td>
          <td>{{userGroup.users.length}}</td>
        </tr>
      </tbody>
  
    </table>

    <div *ngIf="usersGroups.length === 0">Список пуст</div>
  
  </section>