<section class="_container">
    <h1>Редактирование сотрудника</h1>

    <div class="mb-15">
        <button class="btn btn-default mr-5" (click)="cancel()">Отмена</button>
        <button class="btn btn-success mr-5" (click)="edit()">Сохранить</button>
        <button class="btn btn-danger" (click)="remove()">Удалить</button>
    </div>

    <div class="_form">
        <div class="_row mb-10">
            <label for="lastName" class="mb-2">Фамилия</label>
            <input id="lastName" type="text" class="input" [(ngModel)]="employeeBlank.lastName" required>
        </div>
        <div class="_row mb-10">
            <label for="firstName" class="mb-2">Имя</label>
            <input id="firstName" type="text" class="input" [(ngModel)]="employeeBlank.firstName" required>
        </div>
        <div class="_row mb-10">
            <label for="patronymic" class="mb-2">Отчество</label>
            <input id="patronymic" type="text" class="input" [(ngModel)]="employeeBlank.patronymic" required>
        </div>
        <div class="_row mb-10">
            <label for="gender" class="mb-2">Пол</label>
            <select id="gender" class="select-list" [(ngModel)]="employeeBlank.gender">
                <option *ngFor="let gender of genders" [value]="gender.key">
                    {{gender.value}}
                </option>
            </select>
        </div>

        <div class="_row mb-10" *ngIf="showIsUser">
            <label for="isUser" class="mb-2">Является пользователем</label>
            <input id="isUser" type="checkbox" [(ngModel)]="isUser">
        </div>

        <div *ngIf="isUser">
            <div class="_row mb-10">
                <label for="username" class="mb-2">Логин</label>
                <input id="username" type="text" class="input" [(ngModel)]="employeeBlank.userBlank.username" required>
            </div>
            <div class="_row mb-10">
                <label for="password" class="mb-2">Пароль</label>
                <input id="password" type="password" class="input" [(ngModel)]="employeeBlank.userBlank.password" required>
            </div>
            <div class="_row mb-10">
                <label for="confirmPassword" class="mb-2">Подтвердите пароль</label>
                <input id="confirmPassword" type="password" class="input" [(ngModel)]="confirmPassword" required>
            </div>
            <div class="_row mb-10">
                <label for="role" class="mb-2">Роль в системе</label>
                <select id="role" class="select-list" class="input" [(ngModel)]="employeeBlank.userBlank.role">
                    <option *ngFor="let role of roles" [value]="role.key">
                        {{role.value}}
                    </option>
                </select>
            </div>
        </div>

    </div>
</section>
