@font-face {
    font-family: "jura regular";
    src: url(../src/assets/fonts/Jura/Jura-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "roboto regular";
    src: url(../src/assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}