/* You can add global styles to this file, and also import other style files */

html, body { 
  margin: 0; 
  width: 100%;
  height: 100%;
  font-family: 'roboto regular', sans-serif;
  font-size: .9rem;
}

:root{
    --text_color: #607d8b;

    --selected-info: #a1d9ff;

    --button-color: #ffffff;
    --default: #707070;
    --success: #2ecc71;
    --info: #3498db;
    --warning: #f1c40f;
    --danger: #e74c3c;
}

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@mixin button-bg($bg) {
    background-color: $bg;
    opacity: .8;

    &:hover {
      opacity: .7;
      transition: all 0.3s ease;
    }

    &:active {
        opacity: 1;
    } 
  }

.btn {
  color: var(--button-color); 
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;;
  font-family: 'roboto regular', sans-serif;
  border: none;
  height: 30px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.btn-default{
   @include button-bg(var(--default));
}

.btn-success {
   @include button-bg(var(--success));
 }
 
 .btn-info {
   @include button-bg(var(--info));
 }
 
 .btn-warning{
   @include button-bg(var(--warning));
 }
 
 .btn-danger {
   @include button-bg(var(--danger));
 }

 .input{
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 14px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }
 
 .select-list{
    outline: none;
    height: 30px;
    padding: 0.375rem 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
 }

 .mr-5{
   margin-right: 5px;
 }

 .mb-2{
   margin-bottom: 2px;
 }

 .mb-5{
   margin-bottom: 5px;
 }

 .mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.ta-center{
  text-align: left;
}